<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Userliste</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<section class="hero is-medium" id="heroCSS">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-1 has-text-grey-dark has-text-weight-semibold">Toller Blog</h1>
            <h2 class="subtitle is-size-4 has-text-grey has-text-weight-medium">by Max & Franzi</h2>
        </div>
    </div>
</section>
<section class="tabs">
    <ul class="is-left">
        <li><a th:href="@{/home}">Home</a></li>
        <li th:if="${sessionNutzer !=null}">
            <form th:if="${sessionNutzer.rolle == 'admin'}" method="post" th:action="@{/beitrag}">
                <a th:href="@{/beitrag}">Beitrag schreiben</a>
            </form>
        </li>
        <li th:if="${sessionNutzer !=null}">
            <form th:if="${sessionNutzer.rolle == 'admin'}" method="post" th:action="@{/beitrag}">
                <a th:href="@{/nutzer}">Liste der Nutzer</a>
            </form>
        </li>
    </ul>
    <ul class="is-right">
        <li th:if="${sessionNutzer !=null}">
            <a th:text="${sessionNutzer.nutzername + ' (' + sessionNutzer.rolle + ')  '}"></a>
        </li>
        <li>
            <form th:if="${sessionNutzer !=null}" method="post" th:action="@{/logout}">
                <button class="button is-link" type="submit">Logout</button>
            </form>
        </li>
        <li>
            <form th:if="${sessionNutzer ==null}" method="post" th:action="@{/registrieren}">
                <a th:href="@{/registrieren}">Neuen Nutzer registrieren</a>
            </form>
        </li>
        <li>
            <div th:if="${sessionNutzer ==null}">
                <a class="button is-link" th:href="@{/login}">Login</a>
            </div>
        </li>
    </ul>
</section>
<section class="section has-background-light">
    <div class="columns">
        <div class="column"></div>
        <div class="column">
            <h4 class="title">Alle Nutzer: </h4>
            <div class="box" th:each="nutzer: ${nutzerList}">
                <div class="columns">
                    <div class="column is-1"></div>
                    <div class="column is-4">
                        <p class="has-text-weight-bold" th:text="${nutzer.nutzername}"></p>
                        <span>Rolle: </span>
                        <span th:text="${nutzer.rolle}"></span>
                    </div>
                    <div class="column is-2">
                        <form class="field" th:if="${nutzer.rolle != 'admin'}" method="post"
                              th:action="@{/nutzer/admin(nutzerId=${nutzer.id})}">
                            <button class="button is-link" type="submit">Zum Administrator ernennen</button>
                        </form>
                        <form class="field" th:if="${nutzer.rolle != 'admin' && nutzer.rolle != 'mod'}" method="post"
                              th:action="@{/nutzer/moderate(nutzerId=${nutzer.id})}">
                            <button class="button is-link" type="submit">Zum Moderator ernennen</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p><strong>Toller Blog</strong> by <a href="https://gitlab.com/FBaden?nav_source=navbar">Franziska Baden
        </a> und <a href="https://gitlab.com/m.von-olnhausen">Maximilian von Olnhausen</a> (2019)
        </p>
    </div>
</footer>

</body>
</html>